@use "_variables.scss" as v;

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin container {
  max-width: 1440px;
  margin: 0 auto;
}

@mixin inter {
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

@mixin italic {
  font-style: italic;
}

@mixin h1 {
  font-size: 4.5rem;
  font-weight: 600;
  line-height: 105%;
}

@mixin h2 {
  font-size: 3.75rem;
  font-weight: 600;
  line-height: 125%;
}

@mixin h3 {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 125%;
}

@mixin medium {
  font-size: 1rem;
  font-weight: 400;
  line-height: 150%;
}

@mixin caption {
  font-size: 0.625rem;
  font-weight: 600;
  line-height: 140%;
}

@mixin link {
  font-size: 1rem;
  font-weight: 600;
  line-height: 150%;
}

@mixin burger {
  font-size: 2rem;
  font-weight: 600;
  line-height: 125%;
}

@mixin h1-mobile {
  font-size: 2.625rem;
  font-weight: 600;
  line-height: 115%;
}

@mixin h2-mobile {
  font-size: 2rem;
  font-weight: 600;
  line-height: 125%;
}

@mixin mobile {
  @media (max-width: v.$mobile) {
    @content;
  }
}

@mixin mobile-l {
  @media (max-width: v.$mobile-l) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: v.$tablet) {
    @content;
  }
}

@mixin tablet-l {
  @media (max-width: v.$tablet-l) {
    @content;
  }
}

@mixin laptop {
  @media (max-width: v.$laptop) {
    @content;
  }
}

@mixin laptop-l {
  @media (max-width: v.$laptop-l) {
    @content;
  }
}

@mixin desktop {
  @media (max-width: v.$desktop) {
    @content;
  }
}

@mixin hover {
  @media (hover: hover) and (min-width: 769px) {
    &:hover {
      @content;
    }
  }
}

@mixin theme($property, $light, $dark) {
  #{$property}: $light;

  body.dark & {
    #{$property}: $dark;
  }
}
