@use '_variables.scss' as v;
@use '_mixins.scss' as *;

.card {
  @include flex-column;
  align-items: stretch;
  max-height: 21.375rem;
  max-width: 19.375rem;
  background-color: v.$content-bg;
  border-radius: 1.25rem;
  height: 100%;

  .card__image {
    width: 19.375rem;
    height: 14.375rem;
    object-fit: cover;
  }

  .card__text {
    @include flex-column;
    align-items: start;
    justify-content: start;
    gap: 0.5rem;
    padding: 1.25rem;
    border-radius: 1.25rem;
    background-color: v.$white;
    min-height: 7rem;
    flex: 1;

    .card__h4 {
      @include h4;
    }

    .card__h3 {
      @include h3;
      transition: color 0.2s ease-in-out;
    }
  }

  @include hover {
    .card__h3 {
      color: v.$primary;
    }
  }
}

.card--work {
  .tag {
    color: v.$tag-purple;
  }
}

.card--health {
  .tag {
    color: v.$tag-green;
  }
}

.card--harmony {
  .tag {
    color: v.$tag-pink;
  }
}
