@use "_variables.scss" as v;
@use "_mixins.scss" as *;

#menu {
  width: 100%;

  .menu-inner {
    @include flex-column;
    gap: 2.5rem;
    width: 100%;

    .h2 {
      @include h2;
      @include mobile-l {
        @include h2-mobile;
      }

      span {
        @include italic;
        color: v.$accent;
      }
    }

    .offer {
      @include flex-column;
      text-align: center;
      gap: 2.5rem;
      max-width: 50rem;

      .tabs {
        @include flex-center;
        gap: 1rem;

        .tab {
          @include flex-center;
          @include link;
          gap: 0.5rem;
          padding: 0.5rem 1rem 0.5rem 0.5rem;
          border-radius: 8rem;
          cursor: pointer;
          transition:
            background-color 0.2s ease-in-out,
            color 0.2s ease-in-out,
            border 0.2s ease-in-out;
          @include theme(
            border,
            0.1rem solid v.$border,
            0.1rem solid v.$border-dark
          );

          img {
            width: 1.9rem;
            padding: 0.4rem;
            aspect-ratio: 1/1;
            background-color: v.$border;
            border-radius: 100%;
            transition: background-color 0.2s ease-in-out;
            @include theme(background-color, v.$border, v.$border-dark);
          }

          @include hover {
            @include theme(background-color, v.$container, v.$container-dark);
            @include theme(
              border,
              0.1rem solid v.$container,
              0.1rem solid v.$container-dark
            );
            color: v.$inverse;

            img {
              @include theme(background-color, v.$page, v.$page-dark);
            }
          }
        }

        .active {
          background-color: v.$container;
          color: v.$inverse;
          @include theme(background-color, v.$container, v.$container-dark);
          @include theme(
            border,
            0.1rem solid v.$container,
            0.1rem solid v.$container-dark
          );

          img {
            @include theme(background-color, v.$page, v.$page-dark);
          }
        }
      }
    }

    .grid {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 2.5rem;

      .card {
        @include flex-column;
        align-items: start;
        justify-content: space-between;
        width: 100%;
        border-radius: 2.5rem;
        overflow: hidden;
        @include theme(
          border,
          0.1rem solid v.$border,
          0.1rem solid v.$border-dark
        );

        .card-image {
          border-radius: 2.5rem;
          overflow: hidden;
          aspect-ratio: 1/1;
          width: 100%;

          img {
            object-fit: cover;
            width: 100%;
            scale: 110%;
            transition: scale 0.2s ease-in-out;
          }
        }

        .card-text {
          @include flex-column;
          align-items: start;
          gap: 0.75rem;
          padding: 1.25rem;

          .h3 {
            @include h3;
          }

          .card-description {
            @include medium;
          }
        }

        @include hover {
          img {
            scale: 100%;
          }
        }
      }
    }

    @include laptop-l {
      .grid {
        grid-template-columns: repeat(3, 1fr);
      }
    }

    @include laptop {
      .grid {
        grid-template-columns: repeat(2, 1fr);
      }
    }

    @include tablet {
      .grid {
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }
}
